// スマホ表示時のフォントサイズ
body {
  background-color: $White !important;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.p-sm {
  padding: 10px !important;
}

.main-top {
  background-image: url(/img/SE2_Top.png);
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

#container {
  position: relative;
  z-index: 5;
  transition: all 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight;
  background-image: url(/img/SE2_header2.png);
  display: flex;
  align-items: center;
  z-index: 10;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }

  &__nav {
    display: none;
  }

  &__ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    @extend .font-md;
    font-weight: bold;
    margin-left: 20px;

    & > a {
      color: $Black;
      text-decoration: none !important;

      &:hover {
        color: $White;
        transition: all 0.3s;
      }
    }
  }
}

.logo {
  height: 70px;
  width: 100px;

  & a > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.main-top {
  padding-top: $navHeight;
}

.border {
  border-bottom: 2px solid #e6e9ed;
}

main {
  background-color: $BgGray;
}

.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title {
  @extend .font-sm;
  color: $SubTitle;
}

.is-hidden a {
  opacity: 0;
}

.questions {
  @extend .content-width;

  &__title {
    @extend .font-lr;
    @extend .mb-sm;
  }

  &__text {
    color: $White;
  }

  &__select {
    @extend .p-sm;

    &.is-hidden {
      display: none;
    }
  }

  &__type {
    @extend .p-sm;
    color: #73879c;
    background-color: $White;

    span {
      display: block;
      @extend .border;
    }
  }

  &__start {
    @extend .p-sm;
    text-align: center;

    a {
      @extend .font-md;
      color: $BtnTextColor;
      border-radius: 3px;
      border-color: #ccc;

      &:hover {
        background-color: #e6e6e6;
        border-color: #adadad;
      }
    }
  }
}
