body {
    font-size: 17px;
    background: #CCCCCC;
}

.head h1 {
    margin: 9px;
    text-align: center;
    font-size: 24px;
}

.confirm-btn {
    background: #FFCC66;
}

.return-btn {
    background: #F06060;
    color: white;
}

.wrapper {
    width: 80%;
    max-width: 580px;
    margin: 60px auto;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.head {
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background-color: #f8f8f8;
}

.form-wrapper {
    padding: 30px 46px;
}

.btn {
    border-radius: 20px;
    transition: .4s ease-out;
    margin: 7px 0;
}


.sns {
    border-radius: 10px;
    background-color: white;
    width: 49%;
}

@media (max-width: 768px) {
  /* xs スマートフォン向け */
  p {
      font-size: 14px;
  }
  .sns {
      font-size: 16px;
      width: 100%;

  }

  .form-group {
      margin-bottom: 5px;
  }
}
