
body {
    background: #4696e5;
    font-size: 18px;
}


.head h1 {
    padding-left: 20px;
    margin: 10px;
}

.confirm-btn {
    background: #FFCC66;
}

.return-btn {
    background: #F06060;
    color: white;
}

.wrapper {
    width: 80%;
    max-width: 600px;
    margin: 60px auto;
    border-radius: 5px;
    background: #EEEEEE;
}

.head {
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background: #CCCCCC;
}

.form-wrapper {
    padding: 30px 46px;
}

.btn{
    border-radius: 20px;
    transition: .4s ease-out;
}
